@{
    ViewData["Title"] = "Home Page";
}

@model Pet

<div class="text-center">
    <h1>Tell me about your pets</h1>
    <form action="addPet" method="post">
        <div class="form-group">
            <label for="petName">Pet Name</label>
            <input asp-for="petName" class="form-control">
            <span asp-validation-for="petName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="petType">Pet Type</label>
            <input asp-for="petType" class="form-control">
            <span asp-validation-for="petType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="petAge">Pet Age</label>
            <input asp-for="petAge" class="form-control">
            <span asp-validation-for="petAge" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="petColor">Pet Color</label>
            <input asp-for="petColor" class="form-control">
            <span asp-validation-for="petColor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Age</th>
            <th>Color</th>
        </tr>
        @{
            foreach(Pet pet in ViewBag.allPets)
            {
                <tr>
                    <td>@pet.petName</td>
                    <td>@pet.petType</td>
                    <td>@pet.petAge</td>
                    <td>@pet.petColor</td>
                </tr>
            }
        }
    </table>
</div>
